
.header {
  position: fixed;
  width: 100%;
  height: 70px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: transparent;
  padding: 0 20px; 
  color: white;
  z-index: 9999;
  transition: background-color 0.3s ease, height 0.3s ease;
}

.header.scrolled {
  background-color: #002b36;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


.header + .hero {
  margin-top: 70px; 
}

.header.scrolled + .hero {
  margin-top: 70px; 
}


.logo {
  flex: 0 0 auto; 
}

.logo-img {
  width: 150px;
  height: auto; 
  display: block;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px; 
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  height: 35px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 5px;
  color: #333;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-icon {
  height: 20px;
  width: 20px;
  color: #333;
}


.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 70px; 
  margin-left: auto; 
}

.nav-links li {
  margin: 0; 
}

.nav-btn {
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-btn:hover {
  color: #00afaca4; 
}


.container {
  margin-left: 70px; 
  position: relative;
}

.btn {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00afaca4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover {
  box-shadow: 0 10px 20px rgba(34, 211, 238, 0.2);
  color: #007f7f;
  border-color:#007f7f ;
  background-color: #ffffff;
  font-weight: bolder;
}


@media (max-width: 768px) {
  .header {
    height: auto; 
    padding: 20px; 
  }

  .nav {
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px; 
  }

  .nav-links {
    flex-direction: column; 
    align-items: flex-end;
    gap: 15px;
    margin-left: 0; 
  }

  .container {
    margin-left: 0; 
    align-self: flex-end; 
  }

  .logo {
    margin-bottom: 20px; 
  }

 
  .header + .hero {
    margin-top: 120px;
  }
}


@media (max-width: 480px) {
  .logo-img {
    width: 100px; 
  }

  .search-input {
    width: 150px; 
  }

  .nav-links {
    gap: 10px; 
  }
}