.login-signup-page {
  display: flex;
  height: 100vh;
  flex-direction: row; 
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; 
  max-width: 100%; 
}

.left-side .text {
  backdrop-filter: blur(15px);
  padding: 1rem; 
  margin-bottom: 20px;
  width: 90%;
  max-width: 600px; 
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 50px 0 rgba(0, 175, 172, 0.916);
  position: static; 
}

.left-side .text h1 {
  font-size: 2.5rem; 
  margin: 0;
  background: linear-gradient(80deg, #007f7f, #7ffaf8a4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bolder;
  text-align: center; 
}

.left-side .text p {
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  max-width: 100%; 
}


@media (max-width: 1024px) {
  .login-signup-page {
    flex-direction: column; 
  }

  .left-side {
    flex: 0.4; 
    padding: 50px; 
  }

  .left-side .text {
    width: 90%; 
    margin-bottom: 20px; 
    position: static; 
  }

  .left-side .text h1 {
    font-size: 2.5rem; 
  }

  .left-side .text p {
    font-size: 1.2rem; 
  }

  .right-side {
    flex: 0.6;
    width: 100%; 
    margin-left: 0; 
  }
}

@media (max-width: 768px) {
  .left-side {
    flex: 0.3; 
  }

  .left-side .text {
    width: 95%;
  }

  .left-side .text h1 {
    font-size: 2rem; 
  }

  .left-side .text p {
    font-size: 1rem;
  }

  .right-side {
    flex: 0.7; 
    width: 100%; 
    margin-left: 0; 
  }
}